includes:
    - ../../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../../vendor/phpstan/phpstan-nette/extension.neon
    - ../../../vendor/phpstan/phpstan-mockery/extension.neon
    - ../../../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../../vendor/brandembassy/coding-standard/phpstan-extension.neon
    - ../../../vendor/tomasvotruba/cognitive-complexity/config/extension.neon

parameters:
    level: max
