includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-extension.neon

parameters:
    level: max
    excludes_analyse:
        - src/BrandEmbassyCodingStandard/Sniffs/TypeHints/TypeHintDeclarationSniff.php
        - src/BrandEmbassyCodingStandard/*/__fixtures__/*
    ignoreErrors:
        -
            message: '#Parameter \#1 \$node \(PhpParser\\Node\\Expr\\MethodCall\) of method BrandEmbassyCodingStandard\\PhpStan\\Rules\\Mockery\\PostConditionsTraitUsedRule::processNode\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method PHPStan\\Rules\\Rule\<PhpParser\\Node\>::processNode\(\)#'
            path: src/BrandEmbassyCodingStandard/PhpStan/Rules/Mockery/PostConditionsTraitUsedRule.php
        -
            message: '#Class BrandEmbassyCodingStandard\\PhpStan\\Rules\\Mockery\\PostConditionsTraitUsedRule implements generic interface PHPStan\\Rules\\Rule but does not specify its types: TNodeType#'
            path: src/BrandEmbassyCodingStandard/PhpStan/Rules/Mockery/PostConditionsTraitUsedRule.php
