includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src

    excludePaths:
        - src/BrandEmbassyCodingStandard/Sniffs/TypeHints/TypeHintDeclarationSniff.php
        - src/BrandEmbassyCodingStandard/*/__fixtures__/*

