services:
    -
        class: BrandEmbassyCodingStandard\PhpStan\Rules\Mockery\PostConditionsTraitUsedRule\PostConditionsTraitUsedRule
        tags:
            - phpstan.rules.rule
    -
        class: BrandEmbassyCodingStandard\PhpStan\Rules\Method\ImmutableWitherMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: BrandEmbassyCodingStandard\PhpStan\Rules\Method\PhpUnitTestMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: BrandEmbassyCodingStandard\PhpStan\Rules\Mockery\DisallowMockeryShouldReceiveRule
        tags:
            - phpstan.rules.rule
