<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory="temp/.phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <!-- PHPStan and Rector both include their own version of PHP parser so they need to be run separately, else include conflicts arise  -->
        <testsuite name="phpstan">
            <directory>src/BrandEmbassyCodingStandard/PhpStan</directory>
            <exclude>src/BrandEmbassyCodingStandard/PhpStan/Rules/Method/__fixtures__/NonPhpUnitTest.php</exclude>
        </testsuite>
        <testsuite name="rector">
            <directory>src/BrandEmbassyCodingStandard/Rector</directory>
        </testsuite>
        <testsuite name="sniffs">
            <directory>src/BrandEmbassyCodingStandard/Sniffs</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="./temp/code-coverage" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">src</directory>
        </exclude>
    </source>
</phpunit>
